a{
    text-decoration: none;
    color: $c-text;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
@media (max-width: 480px){
    .app{
        body{
            background-color: $c-bg;
            color: $c-text;
            font-size: $size-text;
            margin: 0;
            font-family: embarcadero-mvb-pro-condense, sans-serif;
            line-height: 1.4;
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            padding: 0 32px;
            width: 100vw;
            height: 72px;
            background: #003352;
            border-bottom: 1px solid #DDFF00;
            border-radius: 0px 0px 15px 15px;
            &__el{
                &--btn{
                    position: relative;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    span{
                        position: absolute;
                        text-indent: -9999px;
                    }
                }
                &--texte{
                    font-size: 24px;
                    font-style: italic;
                }
            }
        }
        .start{
            height: 100vh;
            .logo{
                position: absolute;
                top: 20vh;
                width: 55vw;
            }
            .form{
                position: absolute;
                top: 50vh;
            }
            &__el{
                position: absolute;
                top: 70vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                &--btn{
                    display: flex;
                    width: 240px;
                    height: 48px;
                    border-radius: 4px;
                    justify-content: center;
                    align-items: center;
                    background-color: $c-contrast;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 800;
                    color: $c-black;
                }
                &--inscription{
                    background-color: $c-text;
                }
            }
        }
        .perso,.start{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .separateur{
                width: 75vw;
                margin: 16px 0;
            }
            .form{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__el{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 24px;
                    label{
                        margin-bottom: 8px;
                    }
                    input{
                        width: 280px;
                        height: 48px;
                        border-radius: 4px;
                        border: none;
                        font-size: $size-text;
                        padding: 2px 16px;
                        box-sizing: border-box;
                    }
                    &--btn{
                        display: flex;
                        width: 240px;
                        height: 48px;
                        border-radius: 4px;
                        justify-content: center;
                        align-items: center;
                        background-color: $c-contrast;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: embarcadero-mvb-pro-condense, sans-serif;
                        font-weight: 900;
                        font-style: italic;
                        color: $c-black;
                        border:none;
                        margin-top: 48px;
                    }
                }
            }
        }
        .perso{
            top: 25vh;
            &__el{
                &--texte{
                    max-width: 280px;
                    font-size: 18px;
                    font-style: italic;
                }
            }
            .form{
                &__el{
                    &:last-child{
                        align-items: center;
                    }
                }
            }
        }
        .home{
            &__el{
            }
            .menu{
                margin-top: 40px;
                .title{
                    &--trois{
                        font-size: 24px;
                        max-width: 114px;
                        margin: 0 0 0 40px;
                    }
                }
                .icon{
                    &--arrow{
                        position: absolute;
                        right: 36px;
                        top: 12px;
                        width: 20px;
                    }
                }
                &__el{
                    &--profil{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 40px;
                        align-items: center;
                        img{
                            width: 80px;
                        }
                    }
                    &--liste{
                        margin-left: 24px;
                        display: flex;
                        align-items: center;
                        height: 44px;
                        span{
                            margin-left: 20px;
                            font-size: 18px;
                        }
                    }
                    &--sousmenu{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                    }
                    &--lien{
                        display: flex;
                        align-items: center;
                    }
                    svg{
                        width: 30px;
                    }
                    .separateur{
                        border: 1px solid #DDFF00;
                    }
                }
            }
            .version{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 16vh;
                margin-bottom: 24px;
                &__el{
                    &--texte{
                        margin: 0;
                    }
                }
            }
            .sousmenu{
                margin-left: 50px;
                &__el{
                    &--texte{
                        
                    }
                }
            }
        }
    }
}


.off{
    display: none!important;
}

.inactive{
    opacity: 0.5!important;
}

.showMenu{
    height: max-content!important;
    margin-top: 16px;
}

// .hide{
//     animation: hideAnimation .5s ease-in-out;
// }

.show{
    animation: showAnimation .5s ease-in-out;
}

.turn{
    animation: turnArrow .5s ease;
}

@keyframes showAnimation {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0);
    }
}

// @keyframes hideAnimation {
//     0% {
//         transform: translateX(0);
//     }
//     100% {
//         transform: translateX(-200px);
//     }
// }

@keyframes turnArrow{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}
