a{
    text-decoration: none;
    color: $c-text;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    background-color: $c-bg;
    color: $c-text;
    font-size: $size-text;
    margin: 0;
    font-family: embarcadero-mvb-pro-condense, sans-serif;
    line-height: 1.4;
}
section{
    display: none;
}
.portrait{
    @media (max-width: 480px){
        section{
            display: block;
        }
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
            position: relative;
            padding: 0 32px;
            width: 100vw;
            height: 72px;
            background: #003352;
            border-bottom: 1px solid #DDFF00;
            border-radius: 0px 0px 15px 15px;
            position: fixed;
            top: 0;
            z-index: 100;
            &__el{
                &--btn{
                    position: relative;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: transparent;
                    span{
                        position: absolute;
                        text-indent: -9999px;
                    }
                }
                &--texte{
                    font-size: 24px;
                    font-style: italic;
                }
            }
        }
        .start{
            height: 100vh;
            .logo{
                position: absolute;
                top: 20vh;
                width: 55vw;
            }
            .form{
                position: absolute;
                top: 50vh;
            }
            &__el{
                position: absolute;
                top: 70vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                &--btn{
                    display: flex;
                    width: 240px;
                    height: 48px;
                    border: none;
                    border-radius: 4px;
                    justify-content: center;
                    align-items: center;
                    background-color: $c-contrast;
                    text-transform: uppercase;
                    font-family: embarcadero-mvb-pro-condense, sans-serif;
                    font-size: 18px;
                    font-weight: 800;
                    color: $c-black;
                }
                &--inscription{
                    background-color: $c-text;
                }
            }
        }
        .perso,.start{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            .separateur{
                width: 75vw;
                margin: 16px 0;
            }
            .form{
                display: flex;
                flex-direction: column;
                align-items: center;
                &__el{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 24px;
                    label{
                        margin-bottom: 8px;
                    }
                    input{
                        width: 280px;
                        height: 48px;
                        border-radius: 4px;
                        border: none;
                        font-size: $size-text;
                        padding: 2px 16px;
                        box-sizing: border-box;
                    }
                    &--btn{
                        display: flex;
                        width: 240px;
                        height: 48px;
                        border-radius: 4px;
                        justify-content: center;
                        align-items: center;
                        background-color: $c-contrast;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: embarcadero-mvb-pro-condense, sans-serif;
                        font-weight: 900;
                        font-style: italic;
                        color: $c-black;
                        border:none;
                        margin-top: 48px;
                    }
                }
            }
        }
        .perso{
            top: 25vh;
            &__el{
                &--texte{
                    max-width: 280px;
                    font-size: 18px;
                    font-style: italic;
                }
            }
            .form{
                &__el{
                    &:last-child{
                        align-items: center;
                    }
                }
            }
        }
        .menu{
            position: absolute;
            width: 100vw;
            height: 100vh;
            display: none;
            background-color: $c-bg;
            z-index: 99;
            overflow: hidden;
            .title{
                &--trois{
                    font-size: 24px;
                    max-width: 114px;
                    margin: 0 0 0 40px;
                }
            }
            .icon{
                &--arrow{
                    position: absolute;
                    right: 36px;
                    width: 20px;
                }
            }
            &__el{
                &--profil{
                    padding-top: 120px;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                    align-items: center;
                    img{
                        width: 80px;
                    }
                }
                &--liste{
    
                    display: flex;
                    align-items: center;
                    height: max-content;
                    margin: 16px 0 16px 24px;
                    span{
                        margin-left: 20px;
                        font-size: 18px;
                    }
                }
                &--sousmenu{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                &--lien{
                    display: flex;
                    align-items: center;
                }
                svg{
                    width: 30px;
                }
                .separateur{
                    border: 1px solid #DDFF00;
                }
            }
            .version{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 16vh;
                margin-bottom: 24px;
                &__el{
                    &--texte{
                        margin: 0;
                    }
                }
            }
            .sousmenu{
                display: none;
                margin-left: 50px;
                &__el{
                    &--texte{
                        
                    }
                }
            }
        }
        .home{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            position: relative;
            z-index: 8;
            &__el{
                background: $c-bg;
                border: 4px solid #0091D2;
                border-radius: 25px;
                margin: 24px 0;
                width: 320px;
                height: 156px;
                filter: drop-shadow(0px 2px 4px #05010540);
                &--libre{
                    justify-content: flex-start;
                    background-image: url(../assets/images/exo_libre.svg);
                    background-position: right top;
                    .texte{
                        text-align: left;
                        margin: 12px 0 0 20px;
                    }
                }
                &--prog{
                    justify-content: flex-end;
                    background-image: url(../assets/images/exo_prog.svg);
                    .texte{
                        text-align: right;
                        margin: 12px 20px 0 0;
                    }
                }
                &--libre, &--prog{
                    display: flex;
                    background-repeat: no-repeat;
                    .texte{
                        font-size: 24px;
                        max-width: 133px;
                    }
                }
            }
        }
        .choix{
            height: 100vh;
            overflow: hidden;
            position: relative;
            &__el{
                height: 50vh;
                background-color: $c-darkblue;
                position: absolute;
                bottom: 0;
                &--texte{
                    margin: 24px;
                }
                &--terrain{
                    width: 138vw;
                    height: 68vh;
                    background-color: initial;
                    position: absolute;
                    left: -72px;
                    top: 138px;
                }
                &--variables{
                    display: flex;
                    justify-content: space-around;
                    .checkbox{
                        display: flex;
                        align-items: center;
                        flex-direction: row-reverse;    
                        input[type='checkbox']{
                            border: 1px solid $c-lightblue;
                            border-radius: 8px;
                            appearance: none;
                            width: 32px;
                            height: 32px;
                            display: grid;
                            place-content: center;
                            margin-right: 8px;
                        }
                        input[type="checkbox"]::before {
                          content: "";
                          width: 24px;
                          height: 24px;
                          border-radius: 8px;
                          transform: scale(0);
                          transition: 120ms transform ease-in-out;
                          box-shadow: inset 28px 28px $c-contrast;
                          background-color: CanvasText;
                        }
                        input[type="checkbox"]:checked::before {
                          transform: scale(1);
                        }
                    }
                }
                &--btn{
                    display: flex;
                    width: 240px;
                    height: 48px;
                    border: none;
                    border-radius: 4px;
                    justify-content: center;
                    align-items: center;
                    background-color: $c-contrast;
                    text-transform: uppercase;
                    font-family: embarcadero-mvb-pro-condense, sans-serif;
                    font-size: 18px;
                    font-weight: 800;
                    color: $c-black;
                    margin: auto;
                }
                &--valeurs{
                    position: relative;
                    .valeurs{
                        visibility: hidden;
                        height: 68px;
                        margin: 32px 0;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        &--minutes{
    
                        }
                        &--services{
                            margin-top: 0px;
                            margin: auto;
                            position: absolute;
                            top: 0;
                        }
                        &__el{
                            width: 75vw;
                            display: flex;
                            justify-content: center;
                            &--texte{
                                margin-top:16px;
                            }
                        }
                        input[type="range"] {
                            -webkit-appearance: none;
                             appearance: none;
                             background: transparent;
                             cursor: pointer;
                        }
                        /***** Chrome, Safari, Opera, Edge *****/
                        input[type="range"]::-webkit-slider-runnable-track {
                           background-color: $c-bg;
                           border-radius: 0.5rem;
                           height: 1rem;  
                        }
                        input[type="range"]::-webkit-slider-thumb {
                          -webkit-appearance: none;
                           appearance: none;
                           margin-top: -8px;
                           border-radius: 25px;
                           background-image: url(../assets/images/balle.svg);
                           background-size: cover;
                           height: 2rem;
                           width: 2rem;
                        }
                        /******** Firefox ********/
                        input[type="range"]::-moz-range-track {
                           background-color: $c-bg;
                           border-radius: 0.5rem;
                           height: 1rem;
                        }
                        input[type="range"]::-moz-range-thumb {
                           border: none;
                           border-radius: 25px;
                           background-image: url(../assets/images/balle.svg);
                           height: 2rem;
                           width: 2rem;
                        }
                    }
                }
            }
        }
        .session{
            &__el{
                &--para{
                    display: none;
                }
            }
        }
        .historique{
            top: 120px;
            position: relative;
            height: 100%;
            &__el, .sessionliste__el{
                width: 100vw;
                height: 56px;
                grid-column: 1/-1;
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                align-items: center;
                &:nth-child(2n+1){
                    background-color: $c-darkblue;
                }
                svg{
                    height: 30px;
                }
                &--icon{
                    font-size: 18px;
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &--border{
                    border: 1px solid $c-text;
                    border-bottom: none;
                    border-top: none;
                    &:first-child{
                        border-left: none;
                    }
                    &:last-child{
                        border-right: none;
                    }
                }
                &--icon{
                    background-color: transparent;
                    padding: 0;
                }
                &--arrow{
                    height: 12px!important;
                    margin-left: 8px;
                }
                &--filtre{
                    background-color: $c-bg!important;
                }
            }
            .sessionliste{
                &__el{
                    &--texte,&--icon{
                        font-size: 18px;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &--border{
                        border: 1px solid $c-text;
                        border-bottom: none;
                        border-top: none;
                        &:first-child{
                            border-left: none;
                        }
                        &:last-child{
                            border-right: none;
                        }
                        &:nth-child(3){
                            border-right: 2px solid $c-text;
                        }
                    }
                    &--session{
                        display: grid;
                        justify-content: center;
                        grid-template-columns: repeat(4, 1fr);
                        grid-template-rows: repeat(5, 1fr);
                    }
                    &--image{
                        height: 56px;
                    }
                }
            }
            
        }
        .statistique{

            &__el{
                &:first-child{
                    height: 100vh;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                &:nth-child(2){
                    background-color: $c-darkblue;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &--impact{
                    position: absolute;
                }
                .impact{
                    &--eg{
                        right: 14vw;
                        top: 55vh;
                    }
                    &--ed{
                        left: 13vw;
                        top: 55vh;
                    }
                }
                &--terrain{
                    width: 100%;
                }
                &--legende{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    background-color: $c-darkblue;
                    height: 36px;
                    width: 80vw;
                    margin: auto;
                    position: absolute;
                    bottom: 16px;
                    left: 50%;
                    transform: translateX(-50%)
                }
                &--titre{
                    font-weight: 500;
                    font-size: 21px;
                    margin: 48px auto 0;
                }
                &--date{
                    margin-bottom: 40px;
                }
                &--chiffre{
                    display: flex;
                    flex-wrap: wrap;
                    width: 75vw;
                    margin: auto;
                    justify-content: center;
                }
                &--supprbtn{
                    width: 280px;
                    height: 48px;
                    font-family: embarcadero-mvb-pro-condense, sans-serif;
                    font-style: italic;
                    font-weight: 800;
                    font-size: 18px;
                    background: #EBEFF2;
                    border: 2px solid #E41313;
                    border-radius: 10px;
                    margin: 96px 0 48px;
                }
            }
            .legende{
                &__el{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &--balle{
                        width: 10px;
                        margin-right: 8px;
                    }
                }
            }
            .chiffre{
                &__el{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 12px;
                    &--texte{
                        font-size: 37px;
                        line-height: 1;
                    }
                    &--icon{
                        height: 48px;
                        margin-bottom: 12px;
                    }
                    &--chrono,&--pourcent{
                        margin-right: 26px;
                    }
                    &--service{
                        margin: 0 26px;
                    }
                    &--vmoy, &--vmax{
                        margin-left: 26px;
                    }
                    &--pourcent, &--vmax{
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}
.landscape{
    @media (orientation: landscape){
        section{
            display: block;
        }
        .nav, .start,.perso, .menu,.home,.choix,.historique, .statistique{
            display: none;
        }
        body{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            margin: 0;
        }
        .session{
            &__el{
                &--para{
                    position: fixed;
                    top: 0;
                    display: flex;
                    justify-content: space-around;
                    width: 100vw;
                    border-bottom: 1px solid white;
                    height: 68px;
                    align-items: center;
                }
                &--boutons{
                    display: flex;
                }
                &--btn{
                    margin: 0 8px;
                    width: 48px;
                    height: 48px;
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    svg{
                        width: 48px;
                        height: 48px;
                    }
                }
                &--time, &--services{
                    font-size: 24px;
                }
                &--time{
                    min-width: 60px;
                    text-align: center;
                }
                &--pause, &--stop{
                    width: 100vw;
                    height: 100vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 100;
                    background-color: $c-darkblue;
                }
                &--play{
                    border: none;
                    background-color: transparent;
                    svg{
                        width: 180px;
                    }
                }
                &--stop{
                    flex-direction: column;
                    .stop{
                        &__el{
                            display: flex;
                            justify-content: center;
                            width: 100vw;
                            &--texte{
                                font-style: italic;
                                font-weight: 800;
                                font-size: 24px;
                            }
                            &--btn{
                                border: none;
                                width: 240px;
                                height: 48px;
                                border-radius: 4px;
                                font-family: embarcadero-mvb-pro-condense, sans-serif;
                                font-style: italic;
                                font-weight: 800;
                                font-size: 18px;
                                margin: 0 28px;
                            }
                            &--oui{
                                color: $c-black;
                                background-color: $c-contrast;
                            }
                        }
                    }
                }
            }
        }
    }
}
.landscape, .portrait{
    .rotation{
        background-color: $c-darkblue;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        z-index: 100;
        top: 0;
        align-items: center;
        &--icon{
            width: 300px;
            max-height: 300px;
        }
        &--vportrait{
            animation: rotationPortrait 2s infinite alternate;
        }
        &--vlandscape{
            animation: rotationLandscape 2s infinite alternate;
        }
        @keyframes rotationPortrait{
            0% {
              transform: rotate(-90deg);
            }
            100% {
                transform: rotate(0deg);
            }
        }
        @keyframes rotationLandscape {
            0% {
              transform: rotate(0deg);
            }
            100% {
                transform: rotate(-90deg);
            }
        }
    }
}


.off{
    display: none!important;
}

.inactive{
    opacity: 0.5!important;
    pointer-events: none;
}

.visible{
    visibility: initial!important;
}
.jump{
    transition: ease-in .2s;
    top: 100px!important;
}
